<center>
<h1>SISTEM INFORMASI GEOGRAFIS</h1>
<h3 class="beranda-h2">PARIWISATA DI P.AMBON</h3>
<%= link_to 'REKOMENDASI WISATA', places_path, :class => "btn btn-lg btn-primary beranda-font"%>
</center>